{% extends 'base.html' %}

{% block meta %}
<title>Hilmeezy Records</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.container{
  width:500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  scale: 1.0;
}
.last-card{
  background-color: whitesmoke !important;
  width: 18rem; scale: 0.8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid whitesmoke !important;
}
.button-navbar{
  background-color: transparent;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.center-text {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}
</style>
{% endblock meta %}

{% block content %}
<nav class="navbar bg-body-tertiary">
  <div>
    <h1 style="font-size: 24px; font-weight: bold; padding-left: 50px;">💿 {{ application_name }}</h1>
  </div>
  <a href="{% url 'main:create_record' %}" class="button-navbar" style="margin-left: auto; margin-right: 20px">
    Add New Record
  </a>
  <a href="{% url 'main:logout' %}" style="padding-right: 40px;">
    <i class="fa fa-sign-out fa-2x text-danger text-black" aria-hidden="true"></i>
  </a>
</nav>
<br>
<h3 class = "center-text" style="margin-top: 20px;"> Welcome back, {{ name }}! You have stored {{ records|length }} records in this application</h3>
<div class = container>
  {% for record in records %}
    <div class="card{%if forloop.last%} last-card{%endif%}" style="width: 18rem; scale: 0.8;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);border: 2px solid white;">
      <img src="{{record.picture.url}}" style = "aspect-ratio: 1; object-fit: cover; scale: 0.8">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold;">{{record.name}}</h5>
        <p>Genre: {{record.genre}} 
          <br>Price: ${{record.price}}  |  Amount: {{record.amount}}
          <br>Date Added: {{record.date_added}}
        </p>
        <div style="text-align: center;">
        <a href="{% url 'main:edit_record' record.pk %}" style="text-decoration: none;font-size: 24px;">
          📝
      </a>
      <a href="{% url 'main:delete_record' record.pk %}" style="text-decoration: none; font-size: 24px;">
        🗑️
        </a>
      </div>
      </div>
    </div>
    {% endfor %}
</div>
<span class="center-text" style="margin-bottom: 20px;">Last login session: {{ last_login }}</span>
{% endblock content %}